{% extends 'partials/_header.html' %}

{% block forms %}
    <div class="container" style="margin-top: 15%;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="" method="post">
                    {% csrf_token %}
                    <h1>Form</h1>
                    {{form}}

                    <input type="submit" value="Gönder" class="btn btn-danger" style="font-size:14px;">
                </form>
            </div>
        </div>
    </div>


{% endblock forms %}

{% extends 'partials/_footer.html' %}