{% include "partials/_header.html" %}
{% load static %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Post Detayları</h4>
                <h2>Daha fazlası için beğenin!</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->

    <section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content">
              <div class="row">
                <div class="col-lg-8">
                  <span>BLOGWEB</span>
                  <h4>Aradığın haberler ve kaynaklar burada!</h4>
                </div>
                <div class="col-lg-4">
                  <div class="main-button">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <!-- post -->
                
                
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{ postdetails.media.url }}"  alt="">
                    </div>
                    <div class="down-content">
                      <span>{{ postdetails.name }}</span>
                      <a href="#"><h4>{{ postdetails.name2 }}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{ postdetails.user }}</a></li>
                        <li><a href="#">{{ postdetails.dateshare }}</a></li>
                        <li><a href="#">10 Yorum</a></li>
                      </ul>
                      <p>{{ postdetails.textpost }}</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a href="#">Favori</a>,</li>
                              <li><a href="#">Naturel</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- yorumalar -->
                <div class="col-lg-12">
                  {% for comment in comments %}
                    {% if comment.approved_comment  %}
                      <div class="comment" style="display: flex;">
                        <div class="date" style="color:wheat; float: left;">
                          <!-- {% if not comment.approved_comment %}
                            <a href="{% url 'comment_remove' comment.pk %}" class="btn btn-default"></a>
                            <a href="{% url 'comment_approve' comment.pk %}" class="btn btn-default"></a>
                          {% endif %} -->
                        </div>
                        <div >
                          <div style="width: 60px; height: 60px; border-radius: 50%; overflow: hidden; border:1px solid rgba(0, 0, 0, 0.44); display:flex; justify-content:center; ">
                            <img src="{% static 'images/User-avatar.svg.png' %}" alt="" style="width:100%;">
                          </div>
                        </div>
                        <div style="width: 100%;  ">
                        <h5 style="color: rgb(239, 97, 94); float: left; margin: 20px 5px 5px 15px; padding: 0px;  ">
                           {{ comment.name }}  <small style="color: rgb(188, 188, 188); font-size: 12px;"> {{ comment.created_date }} </small> </h5>
                        <br>
                          <p style="font-size: 14px; margin: 25px 15px 15px 15px; padding: 0;">{{ comment.content }}</p>

                        </div>
                        <br>
                      </div>
                      <hr>
                    {% endif %}
                  {% endfor %}
                </div>
                <!-- yorum yap -->
                <div class="col-lg-12">
                  {% include "forms.html" %}  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <!-- <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="" role="search">
                      <input value="{{ request.GET.q }}" type="text" name="q" class="" placeholder="Search..." >
                      <input type="submit" value="ara" style="position: absolute; width: 20%; left: 80%;">
                    </form>
                  </div>
                </div> -->
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2 style='font-size: 20px !important; color: #f48840;'>Populer Posts</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for pos in currentpost %}
                        {% for postal in postsall %}
                        {% if pos.post.name == postal.name %}
                        <li>
                          <a href="{% url 'detail' postal.id %}">
                            <h5>{{ postal.name2 }}</h5>
                            <span>{{ postal.dateshare }}</span>
                          </a>
                        </li>
                
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2 style="font-size: 20px !important; color: #f48840;">Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for cate in category %}
                
                        <li><a href="{% url 'category' cate.id %}"> {{ cate.title }} </a></li>
                
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tags</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Creative</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">Inspiration</a></li>
                        <li><a href="#">Motivation</a></li>
                        <li><a href="#">PSD</a></li>
                        <li><a href="#">Responsive</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
   
{% include "partials/_footer.html" %}